.App {
  text-align: center;
}


.btn-dark{
  font-size: 12px;
  width: auto;
  justify-content: center;
  color: white;
  background-color: #0074D9;
  float: right;
  padding: 1px 32px;
  text-decoration: none;
  transition: background-color .3s;
  list-style: none;
  border: 1px solid #ddd;
  margin: 0 4px;
}