*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.Filtros{
    display: inline;
}

.barra_vertical{
    position: absolute;
    display:inline-block;
    border: none;
    border-left: 10px solid gray;
    left: 40%;
    height: 100vh;
}
