ul{
    padding: 2%;
    width: 100%;
}

li{
    display: inline;
}

a{
    outline: none;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    width: 7%;
    margin: 0.5%;
    text-align: center;
    line-height: 3;
    color: #000000;
}

a:active {
    border: 1px solid  blue;
}

/*Colores*/

a.Amarillo{
    background: #fffb66;
}
a.Azul{
    background: #183d64;
    color: white;
}
a.Beige{
    background: #efce9a;
}
a.Blanco{
    background: #ffffff;
}
a.Cafã{
    background: #f9f9f9;
}
a.Café{
    background: #795c32;
}
a.Dorado{
    background: #efc870;
}
a.Gris{
    background: #808080;
}
a.Morado{
    background: #b05fb2;
}
a.Naranja{
    background: #ea6c20;
}
a.Negro{
    background: #000000;
    color: #ffffff
}
a.Otro{
    background: #f9f9f9;
}
a.Plateado{
    background: #c0c0c0;
}
a.Rojo{
    background: #f40706;
}
a.Verde{
    background: #b7bc60;
}

a:hover{
    color:transparent;
}