.all_years{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    justify-content: start;
    margin: 0em 0em;
    padding: 0%;
}

li.year_list{
    display: inline;
}

input.year {
    position: absolute;
    left: -9999px;
}

label.year {
    display: inline-block;
    margin: 1px;
    width: 120%;
    padding: 10%;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid gray;
}

input.year:checked+label.year{
    background-color: #00cc82;
    color: white;
    font-weight: bold;
}